// http://thesassway.com/beginner/how-to-structure-a-sass-project
@import 'partials/reset';
@import 'modules/all';
// @import 'partials/breakpoints-display';

html { font-size: 16px; }

body {
    background: $white;
    padding: 1rem 1rem 8rem;
    // https://css-tricks.com/snippets/css/system-font-stack/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.wrapper {
    max-width: 35rem;
    margin: 0 auto;
}

a {
    &:active {
        position: relative;
        top: 1px;
    }

    &:hover {
        color: $black;
        background: $gray-light;
    }
}

main > * { margin-top: 3rem; }

section header {
    h1 {
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    &.small h1 {
        font-size: 0.8rem;
        color: $gray-medium;
    }
}

h2 {
    font-size: 1.2rem;
    font-weight: normal;
}

p,
dd { line-height: 1.4rem; }

dt {
    @include gradient(lighten($gray-light, 10%));

    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;

    &:first-of-type { margin-top: 0; }

    small { white-space: nowrap; }
}

dd {
    margin: 1rem 0 0;
    padding: 0 1rem;
}

.contact ul,
.skills ul { @include horizontal-list; }

hr {
    margin: 4rem 0;
    border: 0;
    border-top: 0.25rem solid $gray-light;
}
